##home
LICENSE
README.md
LARBS/
thomamason.github.io/
got.txt
.vnc
.gitignore
.calcurse
.cache
.steam/
.itch/
.cache
.icons
.steampath
.pki
.vim
.steampid
.Xauthority
.bash_history
.bash_logout
.surf/
.ssh/
.npm/
.vscode-oss/
.wine/
.nicotine/
.esd_auth
.gitconfig
.gnupg/
.gsutil/
.minecraft/
.paradoxinteractive/
.renpy/
.thumbnails/
.vpython-root/
.vpython_cipd_cache/
.pulse-cookie
Sub\ Rosa/
Unity/
VirtualBox\ VMs/
Music
Downloads
go
Xenonauts
steam.desktop
Games
thomamason.github,io
Documents
##.local/share
.local/share/applications/mimeinfo.cache
.local/share/applications/wine
.local/share/Steam
.local/share/larbs
.local/share/nvim
.local/share/vulkan
.local/share/xorg
.local/share/applications/wine*
.local/share/Trash
.local/share/**
##.config
.config/chromium
.config/cef_user_date
.config/configstore
.config/Code\ -\ OSS
.config/dunst
.config/discord
.config/dconf
.config/fontconfig
.config/GIMP
.config/gtk*
.config/gconf
.config/gops
.config/htop
.config/libfm
.config/libreoffice
.config/lutris
.config/StardewValley
.config/whats-app-nativefier-d52542
.config/itch
.config/yay
.config/yup
.config/mpd
.config/menus
.config/openmw
.config/unity3d/
.config/pulse/
.config/pcmanfm
.config/vifm/
.config/cmus/
.config/transmission**
.config/pamac
.config/s-tui
.config/nvim/*
.config/retroarch/
.config/BraveSoftware
 .asciiportal/
        .config/Electron/
        .config/QtProject.conf
        .config/VirtualBox/
        .config/ardour6/
        .config/autorandr/
        .config/brutal-doom/
        .config/calcurse/
        .config/cef_user_data/
        .config/compton/
        .config/emoji
        .config/gzdoom/
        .config/i3/workspace-1.json
        .config/i3blocks/
        .config/mimeapps.list
        .config/rncbc.org/
        .config/surf/
        .config/whatsapp-nativefier-d52542/
        .config/zdoom/
        .jackdrc
        .lesshst
        .mono/
        .screen.log
        .viminfo
        .vnc/
        .zenmap/
        LARBS/
        dedustfiles/
        dvrscan.txt
        dwm-1/
        globemenu.jpg
        installed.txt
        pic-full-200225-1608-43.png
        voidrice/
  .newsboat/cache.db
 .newsboat/cache.db.lock
 .asciiportal/
        .config/Electron/
        .config/QtProject.conf
        .config/VirtualBox/
        .config/ardour6/
        .config/autorandr/
        .config/brutal-doom/
        .config/calcurse/
        .config/cef_user_data/
        .config/compton/
        .config/emoji
        .config/gzdoom/
        .config/i3/workspace-1.json
        .config/i3blocks/
        .config/mimeapps.list
        .config/rncbc.org/
        .config/surf/
        .config/whatsapp-nativefier-d52542/
        .config/zdoom/
        .jackdrc
        .lesshst
        .mono/
        .screen.log
        .viminfo
        .vnc/
        .zenmap/

 .asciiportal/
        .config/Electron/
        .config/QtProject.conf
        .config/VirtualBox/
        .config/ardour6/
        .config/autorandr/
        .config/brutal-doom/
        .config/calcurse/
        .config/cef_user_data/
        .config/compton/
        .config/emoji
        .config/gzdoom/
        .config/i3/workspace-1.json
        .config/i3blocks/
        .config/mimeapps.list
        .config/rncbc.org/
        .config/surf/
        .config/whatsapp-nativefier-d52542/
        .config/zdoom/
        .jackdrc
        .lesshst
        .mono/
        .screen.log
        .viminfo
        .vnc/
        .zenmap/
	 .config/Microsoft/
        .config/QtProject.conf
        .config/VirtualBox/
        .config/cef_user_data/
        .config/easytag/
        .config/kdeglobals
        .config/kolourpaintrc
        .config/netsurf/
        .config/whatsapp-nativefier-d40211/
        .config/zoomus.conf
        .java/
        .local/bin/f2py
        .local/bin/f2py3
        .local/bin/f2py3.8
        .local/lib/
        .ts3client/
        docs/
        downloads/
        games/
        music/


	 .config/EDMarketConnector/
        .config/QtProject.conf
        .config/QtWAW/
        .config/VirtualBox/
        .config/aseprite/
        .config/boxtron.conf
        .config/calcurse/
        .config/cef_user_data/
        .config/discordcanary/
        .config/easytag/
        .config/enchant/
        .config/getkeys
        .config/kdeglobals
        .config/kolourpaintrc
        .config/netsurf/
        .config/scummvm/
        .config/sqlitebrowser/
        .config/whatsapp-nativefier-d40211/
        .config/zoomus.conf
        .dbgl/
        .dosbox/
        .gnome/
        .java/
        .local/lib/
        .mono/
        .swt/
        .ts3client/
        .update-timestamp
        031220
        2020-10-18-200143_934x323_scrot.png
        2020-12-09-152451_664x592_scrot.png
        2020-12-14-212051_431x428_scrot.png
        2020-12-14-212107_585x481_scrot.png
        2021-01-06-134438_755x622_scrot.png
        Baldur's Gate - Enhanced Edition/
        Baldur's Gate II - Enhanced Edition/
        Icewind Dale - Enhanced Edition/
        Infinity Engine - Enhanced Edition/
        Planescape Torment - Enhanced Edition/
        agency-s1ep2
        agency-s1ep3
        docs/
        dosdevices/
        downloads/
        drive_c/
        games/

