##home
.cache
.steam/
.itch/
.cache
.icons
.steampath
.pki
.vim
.steampid
Downloads
go
##.local/share
.local/share/applications/mimeinfo.cache
.local/share/applications/wine
.local/share/Steam
.local/share/larbs
.local/share/nvim
.local/share/vulkan
.local/share/xorg
##.config
.config/chromium
.config/cef_user_date
.config/configstore
.config/dunst
.config/fontconfig
.config/gconf
.config/gops
.config/htop
.config/libfm
.config/StardewValley
.config/whats-app-nativefier-d52542
.config/itch
.config/yay
.config/yup
.config/mpd

